@use "../settings/variables";
@use "../utilities/mixins";
.btn {
  flex-shrink: 0;
  flex-grow: 1;
  margin: mixins.toRem(5) mixins.toRem(8);
  min-height: mixins.toRem(40);
  border-radius: mixins.toRem(5);
  &.btn--primary{
    background: #{variables.$primary-color};
    border: 0.06rem solid #{variables.$brand-text-color};
    color: #{variables.$background-light-color};
    .dark-theme & {
      background: #{variables.$primary-dark-color};
      border: 0.06rem solid #{variables.$brand-text-inverted-color};
    }
  }
  &.btn--secundary{
    background: #{variables.$primary-dark-color};
    border: 0.06rem solid #{variables.$primary-color};
    color: #{variables.$primary-color};
    .dark-theme & {
      border: 0.06rem solid #{variables.$primary-dark-color};
      color: #{variables.$primary-dark-color};
    }
  }
}


/*
.a-btn {
  --btn-background-color: #{variables.$primary-color};

  display: inline-block;
  padding: 0.75rem 1.87rem;
  border: none;
  background: var(--btn-background-color);
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: variables.$fs-btn;
  font-weight: 600;
  letter-spacing: 0.03em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s;

  &--block {
    display: block;
    width: 100%;
  }

  &--primary {
    color: variables.$text-inverted-color;

    &:hover,
    &:focus {
      --btn-background-color: #{variables.$primary-dark-color};

      color: variables.$text-inverted-color;
    }

    .dark-theme & {
      --btn-background-color: #{variables.$primary-dark-color};

      &:hover,
      &:focus {
        --btn-background-color: #{rgba(variables.$primary-dark-color, 0.7)};
      }
    }
  }
}
*/
