
<app-header></app-header>
<main>
  <section>
    <div class="info">
      <div class="content-center">
        <div class="text-center m-b-2">
          <h1>Ingresa Ahora</h1>
          <p>“Bien hecho es mejor que bien dicho.” – Benjamin Franklin</p>
        </div>
      </div>
      <div class="text-center">
        <form class="form shadow">
          <div>
            <div class="content-center">
              <input class="input" placeholder="Tu Email" />
            </div>
            <div class="content-center">
              <input class="input" placeholder="Tu Password" />
            </div>
            <div class="content-center">
              <button class="btn btn-primary">Ingresar</button>
              <button class="btn btn-secundary">Registrate</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <figure>
      <img src="assets/img/mobile-login@2x.png">
    </figure>
  </section>

</main>
<app-footer class="shadow"></app-footer>
