<app-header class="shadow"></app-header>
<app-container>
    <div class="info">
      <app-container-call innerH1="Ingresa Ahora" innerP="“Bien hecho es mejor que bien dicho.” – Benjamin Franklin"></app-container-call>
      <app-form class="shadow">
        <app-container-input>
          <app-input placeholder="Tu Email"></app-input>
        </app-container-input>

        <app-container-input>
          <app-input  placeholder="Tu Password"></app-input>
        </app-container-input>

        <app-container-button>
          <app-button type="button" inner="Inicio" classes="primary"></app-button>
          <app-button type="button" inner="Registrate" classes="secundary" [routerLink]="['/admin/sign/up']"></app-button>
        </app-container-button>

      </app-form>
    </div>
    <div class="image">
      <figure>
        <img src="assets/img/mobile-login@2x.png">
      </figure>
    </div>
</app-container>
<app-footer class="shadow"></app-footer>
