@use '~src/assets/scss/utilities/mixins';

::ng-deep {
  app-signin {
    @include mixins.center();
    min-height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
}

.info {
  text-align: center;
  flex-grow: 1;
  max-width: mixins.toRem(550);
  h1{
    color: var(--brand-text-color);
  }
}
.image{
  figure{
    text-align: center;
    img{
      width: 60%;
    }
  }
}
