<app-header class="shadow"></app-header>
<app-container>
  <div class="info">
    <app-container-call innerH1="Registrate" innerP="¨La edad es sólo un número, una cifra para los registros. Un hombre no se puede jubilar de su experiencia. Debe usarla. La experiencia logra más cosas con menos energía y tiempo.¨ – Bernard Baruch"></app-container-call>
  </div>
  <div class="form">
    <app-form class="shadow">
      <app-container-input>
        <app-input placeholder="Tu nombre"></app-input>
        <app-input placeholder="Tu apellido"></app-input>
      </app-container-input>

      <app-container-input>
        <app-input placeholder="Tu email"></app-input>
      </app-container-input>

      <app-container-input>
        <app-input placeholder="Tu contraseña"></app-input>
        <app-input placeholder="Repite tu contraseña"></app-input>
      </app-container-input>

      <app-container-button>
        <app-button type="button" inner="Registrate" classes="primary" [routerLink]="['/admin/sign/up']"></app-button>
      </app-container-button>

    </app-form>
  </div>
</app-container>
<!--main>
  <section>
    <div>
      <div class="content-center">
        <div class="text-center m-b-2">
          <h1>Registrate Ahora</h1>
          <p></p>
        </div>
      </div>
    </div>

    <div class="content-center">
      <form class="form shadow">
        <div>
          <div class="input-group">
            <input class="input" placeholder="Tu nobre" />
            <input class="input" placeholder="Tu apellido" />
          </div>
          <div class="input-group">
            <input class="input" placeholder="Tu email" />
          </div>
          <div class="input-group">
            <input class="input" placeholder="tu contraseña" />
            <input class="input" placeholder="confirma tu contraseña" />
          </div>
          <div class="content-center">
            <button class="btn btn--primary">Ingresar</button>
          </div>
        </div>
      </form>
    </div>
  </section>
</main-->
<app-footer class="shadow"></app-footer>
