@use '~src/assets/scss/utilities/mixins';

::ng-deep {
  app-signup {
    @include mixins.center();
    min-height: 100%;
    flex-direction: column;
    justify-content: space-between;
    h1{
      color: var(--brand-text-color);
    }
  }
}
.form {
  flex-grow: 1;
  max-width: mixins.toRem(550);
}
.info{
  text-align: center;
  max-width: 60ch;
}
