@use "../settings/variables";

html{
  height: 100%;
}
body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: variables.$font-family;
  font-size: variables.$fs-body;
  line-height: 1.8;
  height: 100%;
}
