

$_baltic-sea: #282729;
$_dove-gray: #666;
$_boulder: #777;
$_white: #fff;
$_alabaster: #f9f9f9;
$_gallery: #ececec;







$_black-alpha-1: rgba(0, 0, 0, 0.09);
$_black-alpha-2: rgba(0, 0, 0, 0.01);

$_white-alpha-1: rgba(255, 255, 255, 0.09);
$_white-alpha-2: rgba(255, 255, 255, 0.01);

$_cod-gray: #313131;
$_azulado: #026FC2;
$_grisado: #9DAFBD;
$_orange: #db8e2d;
$_alto: #d3d3d3;



$shadow-black-1: $_black-alpha-1;
$shadow-black-2: $_black-alpha-2;
$shadow-white-1: $_white-alpha-1;
$shadow-white-2: $_white-alpha-2;

$primary-color: $_azulado;
$primary-dark-color: $_orange;

$brand-text-color: $_azulado;
$brand-text-inverted-color: $_orange;

$text-color: $_grisado;
$text-inverted-color: $_alabaster;



$background-dark-color: $_baltic-sea;
$background-darker-color: $_cod-gray;
$background-light-color: $_gallery;
$background-lighter-color: $_alabaster;
$background-lightest-color: $_alabaster;


$text-muted-color: $_dove-gray;
$text-inverted-muted-color: $_gallery;
$border-color: $_dove-gray;
$border-inverted-color: $_gallery;


